# *VARIABLES*

In [3]:
price = 10
price = 30
print (price)

30

In [5]:
price = 43.5
age = 12
name = "ALI HAMZA"
is_true = False

print(price)
print(age)
print(name)
print(is_true)

43.5
12
ALI HAMZA
False

* we check a patient name and it age 20 years old.*
* It is a new patient.*

In [10]:
full_name = "ALi Hamza"
age = 20
is_new = True

print(full_name)
print(age)
print(is_new)

ALi Hamza
20
True

In [12]:
marks = "85"  
bonus = 5  
total = marks + bonus

TypeError: can only concatenate str (not "int") to str

In [14]:
age = 20  
age = age + 1  
print("My age is", age)

My age is 21

In [16]:
first_name = "Ali"  
last_name = "Khan"  
full_name = first_name + last_name  
print(full_name)

AliKhan