# Strings

In [2]:
course = "Python for beginers"
print(course)

Python for beginers

In [4]:
course = 'Python for "beginers"'
print(course)

Python for "beginers"

In [12]:
course = '''
Hi! I am Ali Hamza.

Can you help me.
'''
print(course)

Hi! I am Ali Hamza.

Can you help me.

In [18]:
course = 'Python for "beginers"'
print(course[0])

P

In [22]:
course = 'Python for beginers'
print(course[-1])
print(course[-5])

s
i

In [28]:
course = 'My Name is ALi Hamza'
        #01 2 3456  all characters exluding 6
print(course[0:6])

My Nam

In [30]:
#All return strings
course = 'Python for "beginers"'
print(course[0:])

Python for "beginers"

In [34]:
course = 'Python'
print(course[1:-1])

ytho

# Formatted Strings

In [57]:
first = "Ali"
last = "Hamza"
message = first +' [ ' + last +' ] is a coder'
msg  = f'{first} is a coder'
msg  = f'{first} [{last}] is a coder'
print(message)
print(msg)
print(msg)

Ali [ Hamza ] is a coder
Ali [Hamza] is a coder
Ali [Hamza] is a coder

In [61]:
name = "Ali"
age = 20
result = f'My name is {name} and I am {age} years old'
print(result)

My name is Ali and I am 20 years old

# Strings Methods

In [1]:
subject = 'Hello I am here!'
print(len(subject))

16

In [5]:
subject = 'Hello I am here!'
print(subject.upper())
print(subject.lower())

HELLO I AM HERE!
hello i am here!

In [11]:
sub = "This is a python Language"
print(sub.find("P"))
#BEcuase CAPITAL "P" is not exists

-1

In [17]:
sub = "This is a python language"
print(sub.find("T"))
print(sub.find(" "))

0
4

In [21]:
sub = "This is a python language"
print(sub.replace("language", "Tutorial"))

This is a python Tutorial

In [33]:
sub = "This is a python language"
print(sub.title())

This Is A Python Language

**Sequence of characters**

In [25]:
course = "Python is my favourite"
print("Python" in course)

True

In [27]:
course = "Python is my favourite"
print("Language" in course)

False

*ALL ABOUT STRINGS*

In [ ]:
s = "Python"

# Accessing individual characters
print(s[0])   # Output: P
print(s[3])   # Output: h
print(s[-1])  # Output: n (last character)

# Slicing (extracting substrings)
print(s[0:3]) # Output: Pyt (characters from index 0 up to (but not including) 3)
print(s[2:])  # Output: thon (from index 2 to the end)
print(s[:4])  # Output: Pyth (from the beginning up to (not including) index 4)
print(s[:])   # Output: Python (the whole string)
print(s[::2]) # Output: Pto (every second character)
print(s[::-1])# Output: nohtyP (reversed string)

In [ ]:
text = "PyThOn PrOgRaMmInG"
print(text.lower())      # python programming
print(text.upper())      # PYTHON PROGRAMMING
print(text.capitalize()) # Python programming
print(text.title())      # Python Programming
print(text.swapcase())   # pYtHoN pRoGrAmMiNg

In [ ]:
sentence = "The quick brown fox jumps over the lazy dog."
print(sentence.count("the"))    # 2
print(sentence.find("fox"))     # 16
print(sentence.replace("dog", "cat")) # The quick brown fox jumps over the lazy cat.
print(sentence.startswith("The")) # True
print(sentence.endswith("."))     # True

In [ ]:
name = "Alice"
age = 30
message = f"Hello, {name}! You are {age} years old."
print(message) # Hello, Alice! You are 30 years old.

# With expressions
price = 19.99
quantity = 2
total = f"Your total is ${price * quantity:.2f}" # .2f for 2 decimal places
print(total) # Your total is $39.98