# Lists

In [8]:
names = ["ALI", "Hamza", "Hassan", "John"]
print(names)
print(names[0])
print(names[-1])
print(names[0:3])

['ALI', 'Hamza', 'Hassan', 'John']
ALI
John
['ALI', 'Hamza', 'Hassan']

In [10]:
numbers = [3, 7, 2, 9, 5, 12, 4]
largest = numbers[0]  # Assume first number is the largest

for number in numbers:
    if number > largest:
        largest = number

print(f"The largest number is: {largest}")

The largest number is: 12

## 2D Lists

In [15]:
matrix = [
    [1, 2, 3],     # Row 0
    [4, 5, 6],     # Row 1
    [7, 8, 9]      # Row 2
]
print(matrix[0][1])  # Output: 2 (Row 0, Column 1)
print(matrix[2][2])  # Output: 9

2
9

In [27]:
matrix[1][1] = 55
print(matrix)

[[1, 2, 3], [4, 55, 6], [7, 8, 9]]

In [29]:
for row in matrix:
    for item in row:
        print(item, end=" ")
    print()

1 2 3
4 55 6
7 8 9

In [31]:
total = 0
for row in matrix:
    for item in row:
        total += item
print("Total:", total)

Total: 95

In [33]:
matrix = [
    [1, 2, 3],     # Row 0
    [4, 5, 6],     # Row 1
    [7, 8, 9]      # Row 2
]

total = 0
for row in matrix:
    for item in row:
        total += item
print("Total:", total)

Total: 45

### List Methods

my_list = [3, 1, 4, 1, 5, 9]

my_list.append(6)          # Add 6 at the end
my_list.insert(2, 10)      # Insert 10 at index 2
my_list.remove(1)          # Remove the first occurrence of 1
my_list.pop()              # Remove the last item
my_list.clear()            # Remove all items (empty the list)
my_list.extend([7, 8, 9])  # Add multiple items at the end

my_list.sort()             # Sort the list in ascending order
my_list.reverse()          # Reverse the list

my_list.index(5)           # Get the index of the first occurrence of 5
my_list.count(1)           # Count how many times 1 appears in the list

len(my_list)               # Get the total number of items
min(my_list)               # Get the smallest number
max(my_list)               # Get the largest number
sum(my_list)               # Get the sum of all elements